<!doctype html>
<html>
<head>
    <title>Google Play Permission loader</title>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<h1 class="ui center aligned header">Google Play Permission loader</h1>
<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <div class="ui inverted dimmer" id="loader">
                <div class="ui loader"></div>
            </div>
            <!--<form class="ui form">-->
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="Application ID" id="query-field">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <select id="lang" class="ui dropdown">
                            <option value="en">English</option>
                            <option value="ru" selected>Russian</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <button class="ui primary button" id="load-permissions-button">

                            Load
                        </button>
                    </div>
                </div>
            </div>

            <!--</form>-->

        </div>
        <div class="ui segment" id="results">

        </div>
    </div>
</div>
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
