<h3>{{app.appId}}</h3>
<div class="ui relaxed divided list">
{% for group, permissions in app.permissions.items() %}
    <div class="item">
        <i class="large middle aligned icon icon-{{group}}"></i>
        <div class="content">
            {% for permission in permissions %}
            <div class="header">{{permission[0]}}</div>
            <div class="description">{{permission[1]}}</div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
